---
---

{% include head.html %}
<body class="page-template page-template-elementor_header_footer page page-id-949 wp-custom-logo wp-embed-responsive multiple-domain-ebryx-com no-sidebar nav-below-header fluid-header separate-containers active-footer-widgets-3 nav-aligned-left header-aligned-left dropdown-hover elementor-default elementor-template-full-width elementor-kit-2650 elementor-page elementor-page-949 full-width-content cookies-set cookies-accepted" itemtype="https://schema.org/WebPage" itemscope="" data-elementor-device-mode="desktop">
	{% include header.html %}

	<div id="page" class="hfeed site grid-container container grid-parent">
		<div id="content" class="site-content">
			<div data-elementor-type="wp-page" data-elementor-id="949" class="elementor elementor-949" data-elementor-settings="[]">
				<div class="elementor-inner">
					<div class="elementor-section-wrap">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-10e72467 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="10e72467" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-row">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-65310116" data-id="65310116" data-element_type="column">
										<div class="elementor-column-wrap elementor-element-populated">
											<div class="elementor-widget-wrap">
												<div class="elementor-element elementor-element-6e8919cf elementor-align-right get-btn-right elementor-absolute elementor-hidden-phone elementor-widget__width-auto elementor-widget elementor-widget-button" data-id="6e8919cf" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="button.default">
													<div class="elementor-widget-container">
														<div class="elementor-button-wrapper">
															<a href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjY0NiIsInRvZ2dsZSI6dHJ1ZX0%3D" class="elementor-button-link elementor-button elementor-size-sm" role="button">
																<span class="elementor-button-content-wrapper">
																	<span class="elementor-button-text">Get a Demo</span>
																</span>
															</a>
														</div>
													</div>
												</div>
												<section class="elementor-section elementor-inner-section elementor-element elementor-element-10da67a7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="10da67a7" data-element_type="section">
													<div class="elementor-container elementor-column-gap-default">
														<div class="elementor-row">
															<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-3e2ac6f1" data-id="3e2ac6f1" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
																<div class="elementor-column-wrap elementor-element-populated">
																	<div class="elementor-widget-wrap">
																		<div class="elementor-element elementor-element-2f8e1d76 banner-heading  elementor-widget elementor-widget-heading" data-id="2f8e1d76" data-element_type="widget" data-widget_type="heading.default">
																			<div class="elementor-widget-container">
																				<h2 class="elementor-heading-title elementor-size-default"><u style="">Threat Research and Analysis</u>
																				</h2>
																			</div>
																		</div>
																		<div class="elementor-element elementor-element-751d0a9e elementor-widget elementor-widget-heading" data-id="751d0a9e" data-element_type="widget" data-widget_type="heading.default">
																			<div class="elementor-widget-container">
																				<h4 class="elementor-heading-title elementor-size-default">Blogs Related To: Sidewinder</h4>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
	
	
	<section class="elementor-section elementor-top-section elementor-element elementor-element-72fe9001 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="72fe9001" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-row">
				<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7444af2a" data-id="7444af2a" data-element_type="column">
					<div class="elementor-column-wrap elementor-element-populated">
						<div class="elementor-widget-wrap">
							{% assign start = 0 %}
							{% assign stop = 3 %}
							{% assign count = 0 %}
							{% for post in site.posts %}
							{% if count == start %}
							<section class="elementor-section elementor-inner-section elementor-element elementor-element-5414a917 process-row elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5414a917" data-element_type="section">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-row">
										{% endif %}
										{% if post.tags contains "sidewinder" %}
											<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-29b0a9a8" data-id="29b0a9a8" data-element_type="column">
												<div class="elementor-column-wrap elementor-element-populated">
													<div class="elementor-widget-wrap">
														<div class="elementor-element elementor-element-11633653 elementor-flip-box--effect-slide elementor-flip-box--direction-up elementor-widget elementor-widget-flip-box" data-id="11633653" data-element_type="widget" data-widget_type="flip-box.default">
															<div class="elementor-widget-container">
																<div class="elementor-flip-box">
																	<a href="{{ post.url }}">
																		<div class="elementor-flip-box__layer elementor-flip-box__front">
																			<div class="elementor-flip-box__layer__overlay">
																				<div class="elementor-flip-box__layer__inner">
																					<div class="elementor-flip-box__layer__description">
																						<h1>{{ post.title }}</h1>
																						<p class="process-val">{{ post.date | date: "%a, %d %b, %y" }}</p>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="elementor-flip-box__layer elementor-flip-box__back">
																			<div class="elementor-flip-box__layer__overlay">
																				<div class="elementor-flip-box__layer__inner">
																					<div class="elementor-flip-box__layer__description">
																						<p class="process-num">Tags:</p>
																						{{ post.tags }}
																					</div>
																				</div>
																			</div>
																		</div>
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
										{% assign next_post = count | plus: 1 %}
										{% if count == stop or next_post == paginator.total_posts %}
									</div>
								</div>
							</section>
							{% assign start = start | plus: 4 %}
							{% assign stop = stop | plus: 4 %}
							{% endif %}
							{% assign count = count | plus: 1 %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include homepage_footer.html %}

	{% include footer.html %}
</body>
</html>