{% include head.html %}
<body class="page-template page-template-elementor_header_footer page page-id-949 wp-custom-logo wp-embed-responsive multiple-domain-ebryx-com no-sidebar nav-below-header fluid-header separate-containers active-footer-widgets-3 nav-aligned-left header-aligned-left dropdown-hover elementor-default elementor-template-full-width elementor-kit-2650 elementor-page elementor-page-949 full-width-content cookies-set cookies-accepted" itemtype="https://schema.org/WebPage" itemscope="" data-elementor-device-mode="desktop">
	{% include header.html %}

	{% include post_header.html %}

    <section class="elementor-section elementor-top-section elementor-element elementor-element-7444af2a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7444af2a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-element">
                <br>
                <br>
                <br>
                {{ content }}
            </div>
        </div>
    </section>

    {% include homepage_footer.html %}

	{% include footer.html %}
</body>
</html>